{% extends 'sns/layout.html' %}

{% block title %}説明{% endblock %}

{% block header %}
<h1 class="display-4">説明</h1>
{% endblock %}

{% block content %}
<body class="container">
    <p>
    サイトをご覧いただき有難うございます。</br>
    このサイトは御社の求人募集を見て、作成したもので一般に公開しているものではありません。</br>
    まだまだ未完成でデモレベルですがご覧いただきたく存じます。</br>
    </p>

    <h3>コンセプト「乃木坂46特化SNS」</h3>
    <p>今の時代、何か物申したい時がある時はSNSに投稿するのが主流になっていると思います。</br>
        ファンの方々の意見や感想など乃木坂だけの情報を集約し、分析して、次に活かし、ファンと一緒にグループをより良くしていくためのSNSです。
    </p>

    <h3>できること</h3>
    <p>「投稿一覧」からフォローしている人の投稿を見れます。投稿に「いいね」をしたり「共有」をしたりする事ができます。</br>
        「投稿作成」からメンバー、カテゴリー(TV,雑誌,ラジオ,ブログ,モバメ)、星(1~5)を洗濯して、投稿できます。</br>
        「分析」から、各メンバー、各カテゴリーの投稿数と平均星数を把握できます
    </p>

    <h3>やりたかったができていないこと</h3>
    <li>番組序出演情報や雑誌の発売などのスケジュール情報を提供する</li>
    <li>投稿するときに選択するカテゴリーをスケジュール情報を元にリアルタイムで変更できるようにする</li>
    <li>投稿内容をtwitterでも投稿できるようにする</li>
    <li>「いいね」が多い投稿や、よく使われている単語を「分析」のところで表示する</li>
    <li>モバイルアプリ化</li>
</body>

{% endblock %}

{% for value in values %}
  {{ value }}
{% endfor %}
{{text}}

